<h1>About Us</h1>

<p>We are a site dedicated to helping Academics, Instructors connect with there students by allowing them to reference current events in realtion to their academic subjects</p>

<p>This will be facebook meets reddit</p>

<p>A teacher can start a group on a general topic and invite students to join that group</p>

<p>Login and build your profile as either teacher or student. You can belong to many groups</p>